# List Comphrension-->Examples

In [55]:
li=[[i+j for j in range(1,3)]for i in range(2)]
print(li)

[[1, 2], [2, 3]]

In [51]:
l1=[[j for j in range(1,5)]for i in range(2)]
print(l1)

[[1, 2, 3, 4], [1, 2, 3, 4]]

In [59]:
#l3=[[j for j in range(2)] for i in range()]
l3=[[1 if i==j else 0 for j in range(3)] for i in range(3)]
print(l3)

[[1, 0, 0], [0, 1, 0], [0, 0, 1]]

# Use of break and Continue

In [65]:
i=1
sum=0
while sum<=1000:
    sum=sum+i
    i=i+1
    if sum>=1000:
        break
print(sum,i)

1035 46

In [64]:
sum=0
for i in range(1,100000):
    sum=sum+i
    if sum>=1000:
        break
print(sum,i)

1035 45

In [70]:
i=1
while i<10:
    i=i+1
    if i%5==0:
        continue
    print(i,end=",")

2,3,4,6,7,8,9,

In [76]:
for i in range (1,16):
    if i%5==0:
        continue
    print(i,end=",")

1,2,3,4,6,7,8,9,11,12,13,14,

# Exception_Handling-->use of try and Except

In [79]:
def division_func(num1,num2):
    result=0
    try:
        result=num1/num2
    except ZeroDivisionError:
        print("Cannot divide by 0")
    return result
print(division_func(10,2))
print(division_func(10,0))

5.0
Cannot divide by 0
0

In [81]:
def division_func(num1,num2):
    result=0
    try:
        result=num1/num2
    except ZeroDivisionError:
        print("Cannot divide by 0")
    finally:
        print("The code is executed")
    
    return result
print(division_func(10,2))
print(division_func(10,0))

The code is executed
5.0
Cannot divide by 0
The code is executed
0

In [85]:
def concat(inp1, inp2):

    try:
        print("Output will be : ", inp1 + inp2)
    except:
        print("Invalid inputs")  #try(true)--->except works
    else:
        print("All ok")          #try(false)--->else works
    finally:
        print("The Program terminates")
        
concat(1,2)

concat("python", "java")

concat("python", 34)

Output will be :  3
All ok
The Program terminates
Output will be :  pythonjava
All ok
The Program terminates
Invalid inputs
The Program terminates

# Functions

In [90]:
def multiple(num,num2=5):#assigning default value in function(Default argument)
    return num*num2
print(multiple(10))

50

In [93]:
def multiple(num,num2):#Named arguments
    return num*num2
print(multiple(10,2))

20

In [95]:
a=10    #Swap in python
b=20
b,a=a,b
print(a,b)

20 10

In [98]:
#Define the python function to swap first and last value of the given list.
def swap_first_last(list1):
    list1[0],list1[-1]= list1[-1],list1[0]
    return list1
l1=[15,78,10,45,89]
l2=swap_first_last(l1)
print(l2)

[89, 78, 10, 45, 15]

In [116]:
#Define the python function to check whether the number 33 is even or odd.
def even_odd(num1):
        if num1 %2==0:
            print("even")
        else:
            print("odd")
    
even_odd(33)

odd

In [132]:
#Define the python function to calculate the factorial of the number. 
def factorial(num):
    fact=1
    for i in range(1,num+1):
        fact=fact*i
    return fact
#By using recursion function-->whem it is caling itself
    '''def factorial(num):
          if num<=1:
             return 1
          else:
             return num*factorial(num-1)
        print(factorial(5))
       
    '''
factorial(5)

120

In [151]:
# Write the python function to get the unique values from the given list.
def unique_values(list2):
    s1=set(list2)
    list3=list(s1)
    print(list3)
    
my_list=[1,2,3,3,11,34,3,3,4,5]
l3=unique_values(my_list)


#using for--->to maintain order
'''def unique_list(list1):
    op_list=[]
    for i in list1:
        if i not in op_list:
            op_list.append(i)
    return op_list
print(unique_list())'''

[1, 2, 3, 34, 4, 5, 11]

'def unique_list(list1):\n    op_list=[]\n    for i in list1:\n        if i not in op_list:\n            op_list.append(i)\n    return op_list\nprint(unique_list())'

In [153]:
a=1201     #difference betweem global and local variable
b=15425
def add():
    c=154
    print(a+b)
add()
#print(c)--->local variable can not called outside the function

16626

# Lambda function using Map(no of elements in input=no of elements in o/p)

In [156]:
list1=[1,3,8,4,5,7]
op_list=list(map(lambda x:x**2,list1))
print(op_list)

[1, 9, 64, 16, 25, 49]

In [161]:
#Calculate the square of each element from the given tuple using the map function.
number = (11, 21, 30, 34)
op_tuple=tuple(map(lambda x:x**2,number))
print(op_tuple)

(121, 441, 900, 1156)

In [164]:
#Read the given sentence and print the length of each word in a sentence in a list using the map function.
sentence = 'Python for Data Science'
li=sentence.split()
print(list(map(lambda x:len(x),li)))

[6, 3, 4, 7]

In [166]:
#Find the remainder of all the numbers present in a list after dividing by 5. (make use of map function)
numbers = [ 74, 85, 14, 23 ]
op_list=(list(map(lambda x:x%5,numbers)))
print(op_list)

[4, 0, 4, 3]

In [182]:
addfn=lambda x,y:x+y
maxfn=lambda x,y:x if x>y else y
minfn=lambda x,y:x if x<y else y

print(addfn(28,5))
print(maxfn(20,5))
minfn(34,78)

33
20

34

In [189]:
#Concatenate elements from the list1 with the corresponding element of list2. (make use of map function)
list1 = ['I', 'felt', 'happy', 'because', 'I', 'saw', 'the', 'others', 'were', 'happy']

list2 = [11,22,33,44,55,66,77,88,99]
op_li=list(map(lambda x,y:x+str(y),list1,list2))#when there is differ in values o/p-->takes the least range
print(op_li)

['I11', 'felt22', 'happy33', 'because44', 'I55', 'saw66', 'the77', 'others88', 'were99']

In [199]:
l1=[1,8,7,4,3,2,4]
l2=list(map(lambda x:x%6,l1 ))
l3=list(map(lambda x:x*'*',l1 ))
l4=list(map(lambda x:x+6 if x%2==1 else x//2,l1 ))
print(l2)
print(l3)
print(l4)

[1, 2, 1, 4, 3, 2, 4]
['*', '********', '*******', '****', '***', '**', '****']
[7, 4, 13, 2, 9, 1, 2]