# Week-1-->Revision

In [2]:
print(10/2)#difference betweem division and floor division
print(10//2)

5.0
5

In [3]:
a=10
b=15
x=5
y=-5
c=1
print(a&b)#flow of bit wise operator
print(a|b)
print(a>>1)#output in binary farmat->0101
print(a<<1)#output in binary farmat->10100
print(x>>=c)
print(y<<=c)

SyntaxError: invalid syntax (212043188.py, line 10)

In [15]:
a=10  # type operatator
if a is int:
    print("yes")

In [17]:
a="good Morning"
print(a[-2:])

ng

In [24]:
a="Monday"#Mutable vs immutable difference
a.upper()#--> "MONDAY"
b=a.lower()
print(a)
print(b)

Monday
monday

In [25]:
a=5
id(a)  #Memory location of a

140714098398120

In [6]:
a=5  #example for complex datatype
b=6
c=print(complex(a,b))
#print(c.img)

(5+6j)

In [ ]:
Num=int(input("Enter the num:"))

In [43]:
s1="Today is a sunny day."
s2="Today -is- a- sunny day."
print(s1[0:5])
print(s1[-9:-4])
print(s1[-2:])
print(s1[::-1])
print(s1.split())  #converting string to list using split()
print(s2.split('-'))

Today
unny
y.
.yad ynnus a si yadoT
['Today', 'is', 'a', 'sunny', 'day.']
['Today ', 'is', ' a', ' sunny day.']

In [46]:
l=["Today","is","sunny","day"]
s1=" ".join(l)   #converting list to string using join()
print(s1)

Today is sunny day

In [50]:
li=["learn",24,"blue",False,-8]
l2=[4,7,"summer"]
print(len(li))
print('24' in li) #it is string
print(li+l2)
print(l2*3)

5
False
['learn', 24, 'blue', False, -8, 4, 7, 'summer']
[4, 7, 'summer', 4, 7, 'summer', 4, 7, 'summer']

In [73]:
l1=[1,2,3,4]
l2=[0,5,2,1]
for i,j in zip(l1,l2):
    print(i*j)
#list comphrension
l3=[i*j for i,j in zip(l1,l2)]
print(l3)
#without zip
l4=[l1[i]*l2[i] for i in range(0,len(l1))]
print(l4)

0
10
6
4
[0, 10, 6, 4]
[0, 10, 6, 4]

In [95]:
mix_list = ['Python', 1, 2, 3, 'Data', True] 
print(mix_list[0])
print(mix_list[-2])
print(mix_list[0:3])
print(mix_list[1::2])

Python
Data
['Python', 1, 2]
[1, 3, True]

In [101]:
list_1 = [4, 5, 7, -2, 0, 1] 
print(min(list_1))
print(max(list_1))
print(list_1.sort())
print(sorted(list_1))
li=list_1.copy()
print(li)
print(list_1.remove(5))

-2
7
None
[-2, 0, 1, 4, 5, 7]
[-2, 0, 1, 4, 5, 7]
None

In [105]:
a=[1,2,3,4]
b=a
a.append(5)
print(b)
id(a),id(b)

[1, 2, 3, 4, 5]

(1868402581760, 1868402581760)

In [107]:
seasons_list = ['Summer', 'Winter', 'Spring', 'Winter', 'Spring' ,'Summer', 'Spring', 'Summer', 'Winter', 'Summer', 'Spring']
print(seasons_list.count('Summer'))

4

In [109]:
mix_tuple = (['a', 1, True], 2, 'Science', -5)
mix_tuple=mix_tuple+(4,)  #concatenation is allowed in tuple to append values
print(mix_tuple)

(['a', 1, True], 2, 'Science', -5, 4)

In [111]:
mix_tuple = (['a', 1, True], 2, 'Science', -5)
print(mix_tuple[0:1]+(3,)+mix_tuple[2:])#Replacing 2 to 3

(['a', 1, True], 3, 'Science', -5)

In [129]:
sentence_1 = 'We we shall analyse the data using python' 
sentence_2 = 'Python for data science'
s1=set(sentence_1.lower().split())
s2=set(sentence_2.lower().split())
print(len(s1),len(s2))
print(s1.intersection(s2))
s1.symmentric_difference(s2)

7 4
{'python', 'data'}

AttributeError: 'set' object has no attribute 'symmentric_difference'

In [131]:
A = {1, 4, 5, 2, 6, 3, 40, 7, 87, 4, 71}

B = {3, 42, 51, 6, 7, 8, 54, 5}
A.difference(B)
A.symmetric_difference(B)

{1, 2, 4, 8, 40, 42, 51, 54, 71, 87}

In [141]:
 #Use list comprehension to obtain the squre root of first 10 natural numbers.
l1=[(i)**(1/2) for i in range(1,11)]
print(l1)

[1.0, 1.4142135623730951, 1.7320508075688772, 2.0, 2.23606797749979, 2.449489742783178, 2.6457513110645907, 2.8284271247461903, 3.0, 3.1622776601683795]

In [181]:
#Use list comprehension to find the used vowels in a given sentence and/or word (take the input from user).
x=(input("Enter the sentance:"))
l2=[y for y in x if y in 'aeiou']
print(l2)

Enter the sentance:i am praneshuo
['i', 'a', 'a', 'e', 'u', 'o']

In [149]:
# Use list comprehension to find even and odd numbers from first 20 whole numbers.
l3=[i for i in range(0,21) if i%2==0]
l4=[j for j in range(0,21) if j%2==1]
print(l3)
print(l4)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [183]:
# Use list comprehension to create a dictionary such that its keys are numbers from 1 to 10 and values are the corresponding to that key are its cube.
d1={i:i**3 for i in range(1,11)}
print(d1)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}

In [184]:
#182-for lopp
for i in range(11,21):
    for j in range(1,11):
        print(i*j,end="\t")

11	22	33	44	55	66	77	88	99	110	12	24	36	48	60	72	84	96	108	120	13	26	39	52	65	78	91	104	117	130	14	28	42	56	70	84	98	112	126	140	15	30	45	60	75	90	105	120	135	150	16	32	48	64	80	96	112	128	144	160	17	34	51	68	85	102	119	136	153	170	18	36	54	72	90	108	126	144	162	180	19	38	57	76	95	114	133	152	171	190	20	40	60	80	100	120	140	160	180	200

In [186]:
#Use list comprehension to print table of 11 to 20 as shown below.

l7=[[i*j for j in range(1,11)] for i in range(11,21)]
l7

[[11, 22, 33, 44, 55, 66, 77, 88, 99, 110],
 [12, 24, 36, 48, 60, 72, 84, 96, 108, 120],
 [13, 26, 39, 52, 65, 78, 91, 104, 117, 130],
 [14, 28, 42, 56, 70, 84, 98, 112, 126, 140],
 [15, 30, 45, 60, 75, 90, 105, 120, 135, 150],
 [16, 32, 48, 64, 80, 96, 112, 128, 144, 160],
 [17, 34, 51, 68, 85, 102, 119, 136, 153, 170],
 [18, 36, 54, 72, 90, 108, 126, 144, 162, 180],
 [19, 38, 57, 76, 95, 114, 133, 152, 171, 190],
 [20, 40, 60, 80, 100, 120, 140, 160, 180, 200]]

In [5]:
#Use list comprehension to find transpose of the matrix given below.
l8=[[i+j for j in range(1,8,2)]for i in range(2)]
print(l8)

[[1, 3, 5, 7], [2, 4, 6, 8]]