In [1]:
name='Pranesh'

In [3]:
print(name.upper())#To print in capital letter/upper case

PRANESH

In [5]:
a=list(name)
print(a)

['P', 'r', 'a', 'n', 'e', 's', 'h']

In [7]:
''.join(a)

'Pranesh'

In [8]:
text='Good Morning'
text.split()

['Good', 'Morning']

In [11]:
print(set(text))

{'d', 'i', 'n', 'G', ' ', 'o', 'g', 'r', 'M'}

In [14]:
a=50
b=10
c=int(a/b)
print(c)

5

In [16]:
s='23.5'
print(s+10)

TypeError: can only concatenate str (not "int") to str

In [18]:
print(float(s)+10)

33.5

In [21]:
s=225.5
t=int(float(s))
print(t)

225

In [22]:
r=True
print(int(r))

1

In [25]:
for i in range(50,101):
    if i%2==1:
         print(i,end=',')

51,53,55,57,59,61,63,65,67,69,71,73,75,77,79,81,83,85,87,89,91,93,95,97,99,

In [69]:
a='Good Day'
for i in a:
    if i.islower()==True:
        print(i)

o
o
d
a
y

In [50]:
for i in range(4,0,-1):
    print(' *'*i)

 * * * *
 * * *
 * *
 *

In [57]:
for i in range(0,6):
    if i%2==1:
        print(" *"*i)
for j in range(3,0,-2):
    if j%2==1:
        print(" *"*j)

 *
 * * *
 * * * * *
 * * *
 *

In [79]:
for i in range(1,6):
    for j in range (1,i+1):
        print(j,end='')
    print()

1
12
123
1234
12345

In [81]:
s=''
for i in range(1,6):#another method
    s=s+str(i)
    print(s)

1
12
123
1234
12345

In [84]:
l1=[[1 for i in range(4)] for j in range(2)]
print(l1)

[[1, 1, 1, 1], [1, 1, 1, 1]]

In [87]:
l2=[[i for i in range(1,5)] for j in range(2)]
print(l2)

[[1, 2, 3, 4], [1, 2, 3, 4]]

In [123]:
l3=[i%3 for i in range(1,12)]
print(l3)

[1, 2, 0, 1, 2, 0, 1, 2, 0, 1, 2]

In [121]:
l4=[i for i in range(1,16) if i%4!=0]
print(l4)

[1, 2, 3, 5, 6, 7, 9, 10, 11, 13, 14, 15]

In [124]:
l5=[i for i in range(1,16) if i%4!=0]
print(l5)

[1, 2, 3, 5, 6, 7, 9, 10, 11, 13, 14, 15]

In [129]:
l4=[i if i%2!=0 else i*i for i in range(11)]
print(l4)

[0, 1, 4, 3, 16, 5, 36, 7, 64, 9, 100]

In [131]:
l5=[i/4 for i in range(1,11) ]
print(l5)

[0.25, 0.5, 0.75, 1.0, 1.25, 1.5, 1.75, 2.0, 2.25, 2.5]