# Use of print ,Casting and basic Functions

In [1]:
print("Hello World")

Hello World

In [6]:
print(24*32)

768

In [4]:
name="Pranesh"

In [7]:
print(name)

Pranesh

In [11]:
a=5
print(a)

5

In [12]:
b=25

In [15]:
print(a+b)

30

In [19]:
print("25"+"B")

25B

In [27]:
a=10
b=5.45
c='R'
d="Python"
e=True

# I am checking the Data type of all the Variables

In [35]:
print("a is of type:",type(a),end=";")
print("b is of type:",type(b),end=";")
print("c is of type:",type(c),end=";")
print("d is of type:",type(d),end=";")
print("e is of type:",type(e),end=";")

a is of type: <class 'int'>;b is of type: <class 'float'>;c is of type: <class 'str'>;d is of type: <class 'str'>;e is of type: <class 'bool'>;

In [37]:
print("My Name is Pranesh P Srinivas")

My Name is Pranesh P Srinivas

In [54]:

print(2345*5633,type(2345*5633))

13209385 <class 'int'>

In [58]:
a=24
b=13.33
print("The data type of a",type(a))
print("The data type of b",type(b))
print(a+b,"The data type of c", type(a+b))

The data type of a <class 'int'>
The data type of b <class 'float'>
37.33 The data type of c <class 'float'>

In [65]:
print("Pranesh\n"*25)

Pranesh
Pranesh
Pranesh
Pranesh
Pranesh
Pranesh
Pranesh
Pranesh
Pranesh
Pranesh
Pranesh
Pranesh
Pranesh
Pranesh
Pranesh
Pranesh
Pranesh
Pranesh
Pranesh
Pranesh
Pranesh
Pranesh
Pranesh
Pranesh
Pranesh

In [68]:
print("* "*4)
print("* "*3)
print("* "*2)
print("* "*1)

* * * *
* * *
* *
*

In [77]:
a=10
b=5
print(a==10)
print(a==5)
print(a==10 and b==5)
print(a==10 and b==4)
print(a==10 or b==5)
print(not b==6)

True
False
True
False
True
True

In [79]:
print(10*5+4-2**3/6)

52.666666666666664

In [101]:
print(86/3/5)

5.733333333333333

In [103]:
age=input("enter your age:")
age=int(age)
print(age,type(age))

enter your age:25
25 <class 'int'>

In [105]:
age=15
if age>18:
    print("Hellow sir/Madam")
else:
    print("only 18+ is allowed")

only 18+ is allowed

In [124]:
number=input("Enter the number:")
number=int(number)
if number>0:
    print(number)
else:
    print(0)

Enter the number:-40
0

In [126]:
n=int(input("Enter the number:"))
if (n%2==0):
    print("Even")
else:
    print("odd")

Enter the number:8
Even

In [128]:
print("Hellow,how are you?")

Hellow,how are you?

In [164]:
print(" "*4+"*")
print(" "*3+"*"*3)
print(" "*2+"*"*5)
print(" "+"*"*7)
print("*"*9)

    *
   ***
  *****
 *******
*********

In [166]:
a=7
b=2.356
c=3.908J
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'complex'>

In [168]:
a=50
b=10.4
c="Hello"
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'str'>

In [173]:
name="Pranesh p Srinivas"
print("Length of my name:",len(name))
print(name.upper())
print(name.lower())

Length of my name: 18
PRANESH P SRINIVAS
pranesh p srinivas

In [178]:
name="Pranesh03"
print(name.isalpha())
print(name.isnumeric())
print(name.isdigit())

False
False
False

# Control statements-->if-conditions

In [198]:
a="praneshpsrinivas"
print(len(a))
if(a.isupper==True):
    print("All the letters in my name are capital")
else:
    print("All the letters in my name are small")
print(a.upper())
print(a.isupper())

16
All the letters in my name are small
PRANESHPSRINIVAS
False

In [193]:
name="My Name is Adam"
if(name.isupper==True):
    print("All are in uppercase")
else:
    print("All are in Lowercase")
print(len(name))

All are in Lowercase
15

In [199]:
a=int(input("Enter the Year:"))
if(a%4==0):
    print("It is Leap year")
else:
    print("It is not a Leap year")

Enter the Year:2524
It is Leap year

In [202]:
age=int(input("Enter the age:"))
if(age>60):
    print("You are old")
elif(age<60):
    print("You are young")
else:
    print("Welcome")

Enter the age:25
You are young

In [219]:
Sales_amount=int(input("Enter the sales amount"))
if (Sales_amount>=100000):
    print("The commission is :",Sales_amount*0.10)
elif(Sales_amount>=50000):
    print("The commission is ",Sales_amount*0.06)
elif(Sales_amount>=25000):
    print("The commission is ",Sales_amount*0.03)
else:
    print("The commission is ",Sales_amount*0.01)

Enter the sales amount250000
The commission is : 25000.0

In [220]:
x=1
if(x>0):
    print("Hellow World")
x=0
if(x>0):
    print("Hellow World")

Hellow World

In [222]:
x=0
if(x>0):
    print("Hellow World")
else:
    print("Hi world")

Hi world

In [1]:
a,b,c=100,11,91
if(a>b and a>c):
    print("a is Greater")
elif(b>c):
    print("B is Greater")
else:
    print ("C is Grater")

a is Greater

In [ ]:
def square_feet_to_acres(square_feet):
    
    acres = square_feet / 43560
    return acres

# Sample Input
input_square_feet = float(input("Enter the measure of land in square feet: "))

# Convert square feet to acres
output_acres = square_feet_to_acres(input_square_feet)

# Display the result
print("Measure in Acres:", "{:.2f}".format(output_acres))

In [6]:
ds = [{'Course':'Excel','Marks':80},{'Course':'Python','Marks':70},{'Course':'SQL','Marks':90}]
python_present = any(map(lambda x: x['Course'] == 'Python', ds))

if python_present:
    print("Python is present in the list")
else:
    print("Python is not present in the list")

Python is present in the list

In [9]:
elements2 = list(map(lambda x: x['Course'],ds))
print(elements2)

['Excel', 'Python', 'SQL']

In [ ]:
List = [6,8,10,29,77,29,8,10