# Control statement -->For_loop

In [1]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [13]:
for i in range(1,11):
    if i%2==1:
        print(i)

1
3
5
7
9

In [2]:
for i in range(1,101):
    print(i,end=",")

1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,

In [3]:
for i in range(25,51):
    print(i,end=",")

25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,

In [4]:
for i in range(2001,2101):
    if i%4==0:
        print(i,end=",")

2004,2008,2012,2016,2020,2024,2028,2032,2036,2040,2044,2048,2052,2056,2060,2064,2068,2072,2076,2080,2084,2088,2092,2096,2100,

In [32]:
for i in range(1,101):
    if i%2==0:
        print(i,end=",")

2,4,6,8,10,12,14,16,18,20,22,24,26,28,30,32,34,36,38,40,42,44,46,48,50,52,54,56,58,60,62,64,66,68,70,72,74,76,78,80,82,84,86,88,90,92,94,96,98,100,

In [53]:
for i in range(0,21):
    print(i/10,end=",")

0.0,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9,1.0,1.1,1.2,1.3,1.4,1.5,1.6,1.7,1.8,1.9,2.0,

In [59]:
for i in range(1,15):
    if i%3!=0:
        print(i,end=",")

1,2,4,5,7,8,10,11,13,14,

In [76]:
for i in range(1,51):
    if(i%13==0):
        print(str(i-1)+"A",end=",")
    else:
        print(i,end=",")

1,2,3,4,5,6,7,8,9,10,11,12,12A,14,15,16,17,18,19,20,21,22,23,24,25,25A,27,28,29,30,31,32,33,34,35,36,37,38,38A,40,41,42,43,44,45,46,47,48,49,50,

In [82]:
name="Pranesh"
for i in name:
    #if i.isupper():
        print(i)

P
r
a
n
e
s
h

In [86]:
text="My Name Is PranesPSrinivas"
capital_count=0
for i in text:
    if i.isupper():
        capital_count=capital_count+1
print (capital_count)

6

In [88]:
text="My Name Is PranesPSrinivas"
capital_count=0
for i in text:
    if i.islower():
        capital_count=capital_count+1
print (capital_count)

17

In [104]:
string="I turn 23 on August 14th"
count=0
for i in string:
    if i.isdigit():
        count=count+1
print(count)

4

In [113]:
name="PraneshpsrinivasU"

for i in name.lower():
    if (i=="a" or i=="e" or i=="i" or i=="o" or i=="u"):
        print(i)

a
e
i
i
a
u

In [135]:
name="PraneshpsrinivasU"

for l in name.lower():
    # if (l!="a" and l!="e" and l!="i" and l!="o" and l!="u"):
    if not (l=="a" or l=="e" or l=="i" or l=="o" or l=="u"):
        print(l,end=",")

p,r,n,s,h,p,s,r,n,v,s,

In [137]:
def even_or_odd(n):#creating the function
    if n%2==0:
        print("even")
    else:
        print("odd")
        
even_or_odd(25)#calling the function

odd

In [140]:
def  bigger(a,b):
    if (a>b):
        print(a)
    else:
        print(b)
        
bigger(200,350)

350

In [155]:
def square(n):
    print(n**2)    
square(100)

10000

In [157]:
a=int(input("Enter the number:"))
if (a%2==0):
    print("even")
else:
    print("odd")

Enter the number:55
odd

In [26]:
a=int(input("Enter the Temperature:"))
print("The fahrenhit of the given trmperature(in c):",32+a*9/5)

Enter the Temperature:100
The fahrenhit of the given trmperature(in c): 212.0

In [3]:
x=int(input("Enter the value:"))
y=int(input("Enter the value:"))
z=int(input("Enter the value:"))
s=(x+y+z)/2
area=(s*(s-x)*(s-y)*(s-z))**(1/2)
print("The area is:",area)

Enter the value:25
Enter the value:36
Enter the value:45
The area is: 449.248260987174

In [29]:
def area(x,y,z):
    s=(x+y+z)/2
    tri=((s*(s-x)*(s-y)*(s-z)))**(1/2)
    print(tri)
    
area(10,13,24)

(2.498971614989724e-15+40.81130358123837j)

In [2]:
def area(r):
    area=3.14*(r**2)
    print(area)
def circum(r):
    cir=2*3.14*r
    print(cir)

area(int(input("Enter the r:")))
circum(int(input("enter the r:")))

Enter the r:25
1962.5
enter the r:35
219.8

In [35]:
a="*"
for i in a:
    for j in range(1,6):
         print(i,"\n",)

*

*

*

*

*

In [42]:
for i in range(1,6):
    print("*"*i)

*
**
***
****
*****

In [24]:
for i in range (1,6):
     print(" "*(5-i)+"* "*i)

    *
   * *
  * * *
 * * * *
* * * * *

In [26]:
n=10
for i in range (1,n+1):
     print(" "*(n-i)+"* "*i)

         *
        * *
       * * *
      * * * *
     * * * * *
    * * * * * *
   * * * * * * *
  * * * * * * * *
 * * * * * * * * *
* * * * * * * * * *

In [158]:
for i in range(1,6):
    print(i,str(i)*i)

1 1
2 22
3 333
4 4444
5 55555

# Practice

1)

In [4]:
for i in range (1,6):
     print(" "*(i-1)+"* "*(6-i))

* * * * *
 * * * *
  * * *
   * *
    *

 2)

In [8]:

for i in range (1,6):
    for j in range(i,0,-1):
        print(j,end=" ")
    print()

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

In [12]:
for i in range(1,4):
    print('*'*i)
for i in range(1,5):
    print('*'*i)

*
**
***
*
**
***
****

In [13]:
for i in (1,3,2,4,2,1):
    print('*'*i)

*
***
**
****
**
*

3)

In [83]:
for i in range(25,501):
    if(i%25==0):
        print(i/100,end=";")

0.25;0.5;0.75;1.0;1.25;1.5;1.75;2.0;2.25;2.5;2.75;3.0;3.25;3.5;3.75;4.0;4.25;4.5;4.75;5.0;

 4)

In [90]:
for i in range(1,16):
    if(i%3==0):
        print("Pass",end=",")
    else:
        print(i,end=",")

1,2,Pass,4,5,Pass,7,8,Pass,10,11,Pass,13,14,Pass,

5)

In [95]:
for i in range (1,11):
    print(i**2,end=",")

1,4,9,16,25,36,49,64,81,100,

 6)

In [119]:
for i in range(1,11):
    if(i%2==0):
        print(0,end=",")
    else:
        print(1,end=",")

1,0,1,0,1,0,1,0,1,0,