In [ ]:
salary=int(input("Enter the salary:"))
tax=0
if (salary<=250000):
    print("No Tax for you")
    tax=0
elif (salary<=500000):
    print("5% tax")
    tax=salary*0.05
elif (salary<=750000):
    print(salary<=100000):
        tax=

In [3]:
x=[1,2,3,4,5,6,7,8,9,10]
for i in x:
    print(i,i**2)

1 1
2 4
3 9
4 16
5 25
6 36
7 49
8 64
9 81
10 100

In [6]:
for i in range(1,101):
    if i%2==0:
        print(i**2,end=",")
    else:
        pass

4,16,36,64,100,144,196,256,324,400,484,576,676,784,900,1024,1156,1296,1444,1600,1764,1936,2116,2304,2500,2704,2916,3136,3364,3600,3844,4096,4356,4624,4900,5184,5476,5776,6084,6400,6724,7056,7396,7744,8100,8464,8836,9216,9604,10000,

# List_operations

In [37]:

list1=[ i for i in "Python Programming"]

#list1=[]
#list1.extend("python Programming")  #Another method

#print(list1)

list2=[ i for i in "Welcome"]
#print(list2)

list1.extend(list2) # we can directly give welcome in bracket(another method)
list1.remove("o")
list1.insert(4,"o")

print(list1)
print("Reverse:",list1[-1::-1])#[::-1]--Reverse(another way)
set1=set(list1)
print(len(set1))

['P', 'y', 't', 'h', 'o', 'n', ' ', 'P', 'r', 'o', 'g', 'r', 'a', 'm', 'm', 'i', 'n', 'g', 'W', 'e', 'l', 'c', 'o', 'm', 'e']
Reverse: ['e', 'm', 'o', 'c', 'l', 'e', 'W', 'g', 'n', 'i', 'm', 'm', 'a', 'r', 'g', 'o', 'r', 'P', ' ', 'n', 'o', 'h', 't', 'y', 'P']
16

In [1]:
text=input("Enter a string")
if text==text[::-1]:
    print("Palindrome")
else:
    print("not palindrome")

Enter a stringhi
not palindrome

In [ ]:
text1=input("Enter a string")
set1=set(i for i in text1)
print(len(set1),set1)

# Dictionary_comprehension

In [3]:
d1={i:i**2 for i in range(1,11)}
print(d1)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [9]:
l1=['ravi','raj','sam']
l2=[24,25,26]
d2={i:j for i,j in zip(l1,l2)}
print (d2)

{'ravi': 24, 'raj': 25, 'sam': 26}

In [28]:
d3={i:i**3 for i in range(1,17) if i%2==0 }
print(d3)

{2: 8, 4: 64, 6: 216, 8: 512, 10: 1000, 12: 1728, 14: 2744, 16: 4096}

In [50]:
l1=['name','age','city']
l2=['sam',24,'pune']
d2={i:j for i,j in zip(l1,l2)}
print(d2)

{'name': 'sam', 'age': 24, 'city': 'pune'}

In [64]:
#d2={i:j for i,j in zip(l1,l2)}
#d3={i:i**3 for i in range(1,17) if i%2==0 }
d2.update(d3)
print(d2)

{'name': 'sam', 'age': 24, 'city': 'pune', 2: 8, 4: 64, 6: 216, 8: 512, 10: 1000, 12: 1728, 14: 2744, 16: 4096}

In [61]:

print('age' in d2.keys())

True

In [65]:
for i in d2.keys():#use of only keys
    print("key:",i,"value:",d2[i])

key: name value: sam
key: age value: 24
key: city value: pune
key: 2 value: 8
key: 4 value: 64
key: 6 value: 216
key: 8 value: 512
key: 10 value: 1000
key: 12 value: 1728
key: 14 value: 2744
key: 16 value: 4096

In [67]:
for i,j in d2.items():# use of items
    print("key:",i,"value:",j)

key: name value: sam
key: age value: 24
key: city value: pune
key: 2 value: 8
key: 4 value: 64
key: 6 value: 216
key: 8 value: 512
key: 10 value: 1000
key: 12 value: 1728
key: 14 value: 2744
key: 16 value: 4096

In [74]:
s1={'English':68,'Maths':86,'Science':64} #to print keys and respected average
s2={'English':75,'Maths':94,'Science':69}

avg={}
for i in s1.keys():
    avg[i]=s1[i]+s2[i]/2
print(avg)

{'English': 105.5, 'Maths': 133.0, 'Science': 98.5}

# Exception_Handling

In [1]:
a=5
b=0
try:
    c=a/b
except ZeroDivisionError as e:
    print('b cannot be zero')
except TypeError as e:
    print("Wrong input data type")
except NameError as e:
    print("Check the variable name")
else:
    print(c)
finally:
    print("Program Complete")
    
    
    # we ca rise our own error
    # raise ******-->error type

b cannot be zero
Program Complete

In [16]:
arr = np.array([[1,2,3,4,5], [6,7,8,9,10]])

5