In [95]:
class Tree:
    def __init__(self,type,age,height):
        self.type=type
        self.age=age
        self.height=height
class Forest:
    max_capacity=5
    def __init__(self,name):
        self.name=name
        self.trees=[]
    def add_tree(self,tree):
        if len(self.trees)<self.max_capacity:
            self.trees.append(tree)
            return True
        else:
            return False
    def remove_tree(self):
        return self.trees.pop()
    def list_trees(self):
        for tree in self.trees:
            print(f"{tree.type} of age {tree.age} and height {tree.height}")

In [96]:
f1=Forest('Nilgiries')
t1=Tree('Neem',24,10)
f1.add_tree(t1)

True

In [97]:
t2=Tree('Mango',10,5)
f1.add_tree(t2)

True

In [98]:

t3=Tree('Guava',15,8)
f1.add_tree(t3)

True

In [99]:

t4=Tree('Palm',8,15)
f1.add_tree(t4)

True

In [100]:

t5=Tree('Cashew',28,10)
f1.add_tree(t5)

True

In [101]:

t6=Tree('Banana',2,4)
f1.add_tree(t6)

False

In [102]:
f1.list_trees()

Neem of age 24 and height 10
Mango of age 10 and height 5
Guava of age 15 and height 8
Palm of age 8 and height 15
Cashew of age 28 and height 10